name               = "microservices-platform-eks"
aws_region         = "eu-central-1"
kubernetes_version = "1.36"

# For better security, replace this with your own public IP as /32.
cluster_endpoint_public_access_cidrs = ["0.0.0.0/0"]

# Keep this true for lower demo cost. Set to false for one NAT Gateway per subnet.
single_nat_gateway = true

# SPOT is cheaper. Use ON_DEMAND if interruptions get in the way.
node_capacity_type  = "SPOT"
node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 3
